<div class="article-list">
	{% for article in articles|filter(article => article.has('url')) %}
		<article class="article-in-list">

			<div class="article-in-list__cover">
				{% if article.model|hasImage %}
					{% include "AppBundle:Article:_cover.html.twig" with {
						article: article.model,
						class: "article-in-list__cover-image",
						link: path('article_show', { slug: article.url }),
						width: 350,
					} %}
				{% endif %}
			</div>
		</article>
	{% endfor %}
</div>

{% include 'AppBundle:Article:_list_pagination.html.twig' %}
