{% extends "layout:base.html.twig" %}

{% block main %}
  <div class="text-center">
    <h1>
      Opération spéciale :<br /> du 15 octobre au 15 novembre, <br />commandez des tirages d’art<br /> des couvertures
      de la collection<br /> « Une Heure-Lumière » par Aurélien Police !
    </h1>
    <p>
      Les illustrations sont imprimées avec des encres pigmentaires sur un papier coton neutre 310 g,<br />
      dans un format d’impression environ 40 x 60 cm sur une planche 50 x 70 cm.
    </p>
    <p>
      L’envoi des commandes se fera à partir du 15 novembre.
    </p>

    <a class="btn btn-primary" href="/collection/le-belial-tirages-d-art">
      Voir tous les tirages d'art
    </a>

    <a class="btn btn-default" href="https://belial.fr">
      Retour aux Éditions du Bélial'
    </a>

    <div class="home-illustrations">
      <img src="/theme/illus-fuji.jpg">
      <img src="/theme/illus-rossignol.jpg">
    </div>
  </div>
{% endblock %}
