{% extends "layout:base.html.twig" %}

{% block main %}
  <a class="btn btn-primary" href="/collection/le-belial-tirages-d-art">
    Voir tous les tirages d'art
  </a>

  <a class="btn btn-default" href="https://belial.fr">
    Retour aux Éditions du Bélial'
  </a>
{% endblock %}
